#login .container #login-row #login-column #login-box {
  margin-top: 4rem;
  max-width: 600px;
  height: 20rem;
  background-color: #eaeaea;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 1.25rem;
}
#login
  .container
  #login-row
  #login-column
  #login-box
  #login-form
  #register-link {
  margin-top: -5rem;
}
